* {
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body {
    margin: 0;
    height: 100vh;
    display: grid;
    place-items: center;
    background-color: #286097;
}

.main {
    background: white;
    width: 400px;
    /* height: 100px; */
    padding: 25px;
    border-radius: 10px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    font-size: 16px;
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    background-color: #4caf50;
    color: white;
}

button:hover {
    background-color: #43a047;
}

#password {
    margin-top: 15px;
    font-weight: bold;
    word-break: break-all;
}

